@tailwind base;
@tailwind components;
@tailwind utilities;
/* Global CSS or in your stylesheet */
/*todo:fix the dark mode whte lne*/
html,
body {
  margin: 0px;
  padding: 0px;
}
.dark-mode {
  background-color: black;
  color: white; /* Add text color for better visibility */
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #f1f1f1;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #adadad;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b9cfec;
}
